@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

$open-sans: 'Open Sans', sans-serif;
$pt-serif:'PT Serif', serif;

// Styles
body {
  font-family: $open-sans;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $open-sans;
}